/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* :root { --nav-height: 68px; } */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background: url('https://images.pexels.com/photos/2757549/pexels-photo-2757549.jpeg?auto=compress&cs=tinysrgb&h=650&w=940') no-repeat center center fixed;
    background-size: cover;
    backdrop-filter: blur(5px);
}
.container {
    display: flex;
    justify-content: space-between;
    
}
.login-btn {
    background: linear-gradient(to right, oklch(47.824% 0.15063 286.741), oklch(74.02% 0.21674 135.675));
    padding: 0.5rem 1rem;
    border-radius: 8px;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    transition: background 0.3s ease, color 0.3s ease;
}
.auth-btns {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.site-header {
    padding: 1rem 0;
    max-width: 80%;
    margin: 0 auto;
    border: 1px solid #ffffff;
    border-radius: 12px;
    padding-inline: 2rem;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 900;
    border-bottom: 1px solid #eee; 
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: oklch(91.071% 0.00829 278.541);
}

.logo span {
    color: #e0b60b;
}
nav {
  
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.nav a {
    font-size: 1.2rem;
    color: oklch(91.071% 0.00829 278.541);
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    gap: 1rem;
}

.nav a:hover {
    color: #95d2e4;
}

.hero {
    height: 100%;
    max-width: 80%;
    margin: 0 auto;
    border-radius: 12px;
    text-align: center;
    padding: 6rem 1rem;
    color: rgb(78, 101, 185);
    font-size: 3.5rem;
    padding-top: 10rem;
}
.hero span{
    border: 1px solid #ffffff;
    border-radius: 12px;
    color: oklch(100% 0.00011 271.152);
    padding: 0 0.5rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.hero p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    color: rgb(255, 255, 255);
}
.btn {
    display: inline-block;
    background: linear-gradient(to right, oklch(47.824% 0.15063 286.741), oklch(74.02% 0.21674 135.675));
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    text-decoration: none;
    color: #ffffff;
    font-size: large;
    transition: background 0.3s ease, color 0.3s ease;
}
textarea {
  width: 100%;
  max-height: 90px;
  padding: 1rem;
  font-size: 1.2rem; /* Increase text size */
  /* line-height: 1.5; */
  border-radius: 8px;
  border: 1px solid #ccc;
   resize: vertical;
}

.btn:hover {
  background: #0078ff;
  color: #fff;
}
.input-chat{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
}
