/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    
}
.container {
    display: flex;
    justify-content: space-between;
}
.login-btn {
    background: linear-gradient(to right, oklch(47.824% 0.15063 286.741), oklch(74.02% 0.21674 135.675));
    padding: 0.5rem 1rem;
    border-radius: 8px;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    transition: background 0.3s ease, color 0.3s ease;
}
.site-header {
    background: linear-gradient(to left,oklch(66.7% 0.295 322.15), oklch(54.6% 0.245 262.881));
    padding: 1rem 0;
    max-width: 80%;
    margin: 10px auto;
    border: 1px solid #ffffff;
    border-radius: 12px;
    padding-inline: 2rem;
    text-align: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: oklch(91.071% 0.00829 278.541);
}

.logo span {
    color: #e0b60b;
}
nav {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.nav a {
    font-size: 1.2rem;
    color: oklch(91.071% 0.00829 278.541);
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    gap: 1rem;
}

.nav a:hover {
    color: #95d2e4;
}

.hero {
    height: 100%;
    max-width: 80%;
    margin: 0 auto;
    border-radius: 12px;
    text-align: center;
    padding: 6rem 1rem;
    background: linear-gradient(to right,oklch(82.141% 0.26848 143.525), oklch(57.728% 0.19196 36.024));
    color: rgb(78, 101, 185);
    font-size: 3.5rem;
     box-shadow:
    0 4px 10px rgba(10, 10, 10, 1),
    0 1px 3px rgba(-10, -10, 10, 2);
}
.hero span{
    border: 1px solid #ffffff;
    border-radius: 12px;
    color: #ffffff;
    padding: 0 0.5rem;
    background-color: #95d2e4;
}
.hero p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    color: rgb(255, 255, 255);
}

.btn {
    display: inline-block;
    background: linear-gradient(to right, oklch(47.824% 0.15063 286.741), oklch(74.02% 0.21674 135.675));
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    text-decoration: none;
    color: #ffffff;
    font-size: large;
    transition: background 0.3s ease, color 0.3s ease;
}

.btn:hover {
  background: #0078ff;
  color: #fff;
}
